@charset "utf-8";
img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width:100%;
}
body{
	font-family: 'Lora';
	font-weight:normal;
    color: #000;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
	padding:0;
	margin:0;
	list-style:none;
	background:#fff;
}
.container{
	width:970px;
	height:auto;
	margin:0 auto;
	padding:0;
	box-sizing:border-box;
}
p, h1, h2, h3, ul{
	padding:0;
	margin:0;
}
li{list-style:none;}
a{text-decoration:none;}
.clearall{
	clear:both;
	height:1px;
	width:auto;
}
.position{position:relative;}
.dsplay{width:100%;display:table;box-sizing:border-box;}
*{box-sizing:border-box;}
.flt{float:left;width:100%;}
.ovrfl{overflow:hidden;}
.bdhding1{	
	font-weight:bold;
	font-size:44px;
	line-height:54px;
	text-align:center;
}
.bdfont{	
	font-size:24px;
	line-height:34px;
	text-align:left;
}
.bdfont2{
	font-size:28px;
	line-height:38px;
	text-align:left;
}
.bdfont3{
	font-size:30px;
	line-height:40px;
	text-align:left;
}
.bdfont4{
	font-size:26px;
	line-height:36px;
	text-align:left;
}
.mar1{margin:34px 0 0 0;}
.mar2{margin:48px 0 0 0;}
.mar3{margin:40px 0 0 0;}
.mar4{margin:10px 0 0 0;}
.mar5{margin:30px 0 0 0;}
.bold{font-weight:bold;}
.semibold{font-weight:600;}
.black{font-weight:900;}
.medium{font-weight:500;}
.txlncntr{text-align:center;}
.txlnlft{text-align:left;}

@media only screen and (max-width: 1000px){
.container{ max-width:750px; width:100%; }
.bdhding1{	
	font-size:36px;
	line-height:46px;
}
.bdfont{	
	font-size:19px;
	line-height:29px;
}
.bdfont2{
	font-size:23px;
	line-height:33px;
}
.bdfont3{
	font-size:25px;
	line-height:35px;
}
.bdfont4{
	font-size:21px;
	line-height:31px;
}
.mar1{margin:30px 0 0 0;}
.mar2{margin:44px 0 0 0;}
.mar3{margin:36px 0 0 0;}
}
@media only screen and (max-width: 767px){
.container{ width:100%;max-width:640px;}
.bdinpad{padding:0 10px;box-sizing:border-box; }
.bdhding1{	
	font-size:30px;
	line-height:40px;
}
.bdfont{	
	font-size:18px;
	line-height:28px;
}
.bdfont2{
	font-size:20px;
	line-height:30px;
}
.bdfont3{
	font-size:21px;
	line-height:31px;
}
.bdfont4{
	font-size:19px;
	line-height:29px;
}
.mar1{margin:26px 0 0 0;}
.mar2{margin:40px 0 0 0;}
.mar3{margin:32px 0 0 0;}
.mar5 {margin: 22px 0 0 0;}
}
@media only screen and (max-width: 479px){
.bdhding1{	
	font-size:26px;
	line-height:36px;
}
}
/*====================start section1, 2=====================*/
.sec1{
	background:url(../images/sec1.jpg) center top no-repeat;	
	padding:26px 0 54px 0;
}
.s1txt1{
	font-weight:bold;
	font-size:24px;
	line-height:34px;
	text-align:left;
}
.s1txt1 span{
	font-style:italic;
	color:#ff0000;
}
.s1txtbx{
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	margin:20px 0 0 0;
	width:74%;
	padding:9px 0 30px 0;
}
.s1txt2, .s1txt3{	
	font-weight:bold;
	font-size:50px;
	line-height:68px;
	text-align:left;
}
.s1txt3{	
	color:#fff;	
	font-size:60px;
	line-height:76px;
}
.s1txt3 span.span1{
	background:url(../images/highlight.jpg) left bottom repeat-x;
	padding:0 6px;
}
.s1txtbx2{
	position:relative;
	padding:0 0 0 145px;
	margin:25px 0 0 0;
	width:74%;
}
.s1txtbx2img{position:absolute;left:-5px;top:0;}
.s1txtbx2txt1{
	font-weight:bold;
	font-size:28px;
	line-height:38px;
	color:#1b2b61;
	text-align:left;
	font-style:italic;
}
.s1txtbx2txt2{
	font-weight:500;
	font-size:24px;
	line-height:34px;
	text-align:left;
	margin-top:10px;
}
.s1bx{
	margin:38px 0 0 0;
	background:#fff url(../images/s1bxbg.png) right top no-repeat;
	border-radius:10px;
	padding:38px 28px;
}
ul.s1bx-list{padding:0;}
ul.s1bx-list li{
	background:url(../images/bullet.png) left 5px no-repeat;
	padding:0 0 0 56px;	
	font-weight:500;
	font-size:24px;
	line-height:32px;
	text-align:left;
	width:90%;
}
ul.s1bx-list li:nth-child(2){width:85%;margin:24px 0 0 0;}
ul.s1bx-list li:nth-child(3){width:75%;margin:24px 0 0 0;}
/*-----------------strip-----------------*/
.strip{background:#1b2b61;padding:20px 0 30px 0;}
.strip-hding{
	font-weight:600;
	font-size:24px;
	line-height:32px;
	color:#fff;
	text-align:center;
}
.strip-logos{margin:25px auto 0 auto;display:block;max-width:100%;}
/*-------------------section2-----------------*/
.sec2{padding:40px 0 45px 0;background:#f9f9f9;}
.s2bx{
	border:3px solid #d1a5a5;
	border-radius:12px;
	padding:28px 20px 28px 20px;
}
.s2bxtxt1, .s2bxtxt2{
	font-weight:bold;
	text-align:center;
	padding:5px 0 0 0;
}
.s2bxtxt2{font-style:italic;margin-top:10px;}
ul.s2bx-list{padding:30px 0 0 0;}	
ul.s2bx-list li{
	position:relative;
	padding:7px 0 7px 42px;
	width:100%;
	display:table;
}
.s2bxlnum{
	position:absolute;
	left:0;
	top:7px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
}
.s2bxl-lft, .s2bxl-rgt{
	float:left;
	display:inline-block;
	width:70%;
}
.s2bxl-lft{
	border:2px solid #dbdbdb;
	border-radius:5px;
	padding:8px 2px 8px 50px;
	background:url(../images/bullet2.png) 12px 14px no-repeat;
	font-size: 24px;
    line-height: 34px;
}
.s2bxl-rgt{
	width:28%;
	float:right;
	font-family: 'Gochi Hand';
	font-size:32px;
	line-height:34px;
	color:#ff0000;
	text-align:left;
	padding:8px 0 8px 46px;
	background:url(../images/bullet3.png) left 8px no-repeat;
}
.s2bxrgtimg{display:none;}
ul.s2list{padding:16px 0 0 0;}
ul.s2list li{
	float:left;
	display:inline-block;
	width:25%;
	margin:20px 0 0 0;
	padding:0 1.5%;
}
ul.s2list li img{margin:0 auto;display:block;max-width:100%;}
ul.s2list li p{text-align:center;margin:10px 0 0 0;}

@media only screen and (max-width: 1000px){
.sec1{background:url(../images/sec1.jpg) 55% top no-repeat scroll;}

.s1txt1 {font-size: 20px;line-height: 30px;}
.s1txt2 {font-size: 40px;line-height: 58px;}
.s1txt3 {font-size: 46px;line-height: 62px;}
.s1txt3  span.span1{background: url(../images/highlight-tab.jpg) left bottom repeat-x;}
.s1txtbx2 {padding: 0 0 0 122px;}
.s1txtbx2txt1 {
    font-size: 23px;
    line-height: 33px;
}
.s1txtbx2txt2 {
    font-size: 20px;
    line-height: 30px;
}
.s1txtbx2img {width:114px;}
.s1bx {padding: 25px 20px;}
ul.s1bx-list li {
    font-size: 20px;
    line-height: 28px;
}
.s2bx {padding: 20px 10px 20px 10px;}
ul.s2bx-list li {padding: 7px 0 7px 32px;}
.s2bxl-lft {
    padding: 8px 2px 8px 46px;
    background: url(../images/bullet2.png) 10px 10px no-repeat;
	font-size:19px;
	line-height:29px;
}
.s2bxl-rgt {
    font-size: 24px;
    line-height: 28px;
    padding: 8px 0 8px 36px;
	background-size:30px;
}
}
@media only screen and (max-width: 767px){
.sec1{background:#cff1fe url(../images/sec1-mob.jpg) center 5px no-repeat;padding:15px 0 24px 0;}
.s1txt1 {
    font-size: 17px;
    line-height: 25px;
	text-align:center;
}
.s1txtbx{width:100%;padding:0;margin:8px 0 0 0;border-top:none;border-bottom:none;}
.s1txtbx p{text-align:center;}
.s1txt2 {font-size: 28px;line-height: 36px;}

.s1txt3 {
    font-size: 36px;
    line-height: 52px;
	padding:0 2px;
}
.s1txt3 span.span1{background:url(../images/highlight-mob.jpg) left bottom repeat-x;}
.s1txtbx2 {
    padding: 0 0 0 122px;
	width:100%;
	margin:240px 0 0 0;
}
.s1txtbx2txt1 {
    font-size: 20px;
    line-height: 26px;
}
.s1txtbx2txt2 {
    font-size: 18px;
    line-height: 24px;
}
.s1bx{
	background:#fff;
	margin:25px 0 0 0;
	padding:20px 13px;
}
ul.s1bx-list li, ul.s1bx-list li:nth-child(2), ul.s1bx-list li:nth-child(3){
	width:100%;
	font-size:18px;
	line-height:24px;
	background-size:22px;
	padding: 0 0 0 37px;
}
ul.s1bx-list li:nth-child(2), ul.s1bx-list li:nth-child(3){margin:20px 0 0 0;}
.strip {padding: 20px 0 24px 0;}
.strip-hding {font-size: 22px;line-height: 30px;}
.strip-logos {margin: 15px auto 0 auto;}

.sec2{padding:35px 0 40px 0;}
.s2bx {padding: 14px 10px 20px 10px;width:460px;margin:0 auto;display:table;}
ul.s2bx-list {padding: 24px 0 0 0;}
ul.s2bx-list li{padding:3px 0 3px 0;}
.s2bxlnum{display:none;}
.s2bxl-lft{
	width:60%;
	font-size:17px;
	line-height:27px;
}
.s2bxl-rgt{
	width:38%;
	background: url(../images/bullet3.png) left 22px no-repeat;
	background-size:24px;
	padding: 24px 0 24px 30px;
	font-size: 21px;
    line-height: 26px;
}


ul.s2list{padding:0;}
ul.s2list li{width:49%;padding:0;margin:30px 2% 0 0;}
ul.s2list li:nth-child(2), ul.s2list li:nth-child(4){margin:30px 0 0 0;}
ul.s2list li p{margin:5px 0 0 0;}
}
@media only screen and (max-width: 479px){
.sec1{background:#cff1fe url(../images/sec1-mob.jpg) center -6px no-repeat;padding:15px 0 24px 0;}
.s1txt1 {
    font-size: 16px;
    line-height: 24px;
}
.s1txt2 {
    font-size: 26px;
    line-height: 34px;
}
.s1txt3 {
    font-size: 30px;
    line-height: 46px;
}
.s1txtbx2txt1 {
    font-size: 18px;
    line-height: 24px;
}
.s1txtbx2txt2 {
    font-size: 16px;
    line-height: 22px;
}
.strip-hding {font-size: 20px;line-height: 28px;}
.s1txtbx2 {margin: 224px 0 0 0;}


.s2bx {width:100%;padding: 10px 6px 15px 6px;}
.s2bxl-lft {
    padding: 2px 3px 4px 26px;
    background: url(../images/bullet2.png) 6px 8px no-repeat;
	background-size:15px;
    font-size: 15px;
    line-height: 26px;
}
.s2bxl-rgt {
    width: 38%;
    background: url(../images/bullet3.png) left 22px no-repeat;
    background-size: 16px;
    padding: 22px 0 18px 20px;
    font-size: 18px;
    line-height: 22px;
}
}
@media only screen and (max-width: 389px){
.s1txt1 {
    font-size: 14px;
    line-height: 22px;
}
.s1txt2 {
    font-size: 22px;
    line-height: 30px;
}
.s1txt3 {
    font-size: 23px;
    line-height: 39px;
}
.s1txtbx2 {padding: 0 0 0 105px;}
.s1txtbx2img {width: 100px;}
.s1txtbx2txt1 {
    font-size: 16px;
    line-height: 22px;
}
.s1txtbx2txt2 {
    font-size: 14px;
    line-height: 20px;
}
.s2bxl-lft {
    padding: 2px 3px 4px 24px;
    background: url(../images/bullet2.png) 6px 8px no-repeat;
	background-size:13px;
    font-size: 13px;
    line-height: 20px;
}
.s2bxl-rgt {
	font-size: 16px;
	line-height: 20px;
	background: url(../images/bullet3.png) left 18px no-repeat;
    background-size: 15px;
    padding: 18px 0 18px 20px;
}
}
/*====================start section3, 4, 5, 6, 7, 8, 9, 10=====================*/
.sec3{background:#e2f7ff;padding:40px 0 45px 0;}
.s3img1{float:right;margin:24px -15px 0 10px;max-width:100%;}
.s3txtbx{
	margin:42px 0 0 0;
	background:#1b2b61;
	border-radius:12px;
	padding:24px 28px 28px 28px;
}
.s3txtbximg{float:right;margin:0 0 0 10px;max-width:100%;}
/*----------------section4------------------*/
.sec4{padding:40px 0 45px 0;}
.s4txtbx{
	margin:42px auto 0 auto;
	width:80%;
	display:table;
	position:relative;
	padding:0 0 0 150px;
}
.s4txtbximg{position:absolute;left:0;top:-10px;}
.s4txtbx-inbx{position:relative;border-top:2px solid #97e1f5;border-bottom:2px solid #97e1f5;padding:22px 0;}
.lftqt, .rgtqt{position:absolute;width:56px;height:29px;}
.lftqt{left:0;top:-15px;background:#fff url(../images/lftquote.png) left center no-repeat;}
.rgtqt{right:0;bottom:-15px;background:#fff url(../images/rgtquote.png) right center no-repeat;}
/*----------------section5------------------*/
.sec5{padding:40px 0 152px 0;background:url(../images/sec5.jpg) center top repeat-y;}
.s5img{float:right;margin:-85px 20px -100px 30px;max-width:100%;}
/*----------------section6------------------*/
.sec6{padding:0 0 45px 0;background:#f9f9f9;}
.s6bx{
	background:#fff;
	border-radius:12px;
	margin:-112px 0 0 0;
	padding:28px;
	box-shadow:0 0 15px #e4e4e4;
}
.s6bximg1{float:left;margin:24px 15px 0 -15px;max-width:100%;}
.s6bxtxt{margin-top:54px;}
.s6bxtxt span.span1{
	width:60%;
	background:#f5e7ff;
	padding:11px 15px 16px 15px;
	border-radius:40px;
	position:relative;
}
.s6bxtxtarw{position:absolute;left:50px;top:-20px;}
.s6bximg2{float:right;margin:0 0 0 -20px;max-width:100%;}
.s6bxtxt2{
	margin:40px 0 0 70px;
	width:60%;
	background:#ddf5ed;
	padding:12px 15px;
	border-radius:40px;
	position:relative;
}
.s6bxtxt2arw{position:absolute;right:50px;top:-20px;}
.s6bxtxt3{
	margin:36px 0 0 172px;
	width:76%;
	padding:12px 35px 12px 45px;
	border-radius:100px;
	background:#fff4c7;
	position:relative;
}
.s6bxtxt3arw{position:absolute;left:66px;top:-20px;}
.s6bximg3{float:right;margin:24px -15px 0 10px;max-width:100%;}
.s6img1{float:left;margin:24px 15px 0 -15px;max-width:100%;}
/*----------------section7------------------*/
.sec7{background:#323232 url(../images/sec7.jpg) center top no-repeat;padding:40px 0 45px 0;}
.s7img{float:right;margin:28px -15px 0 10px;max-width:100%;}
/*----------------section8------------------*/
.sec8{background:#f9f9f9;padding:40px 0 45px 0;}
.s8bxtxt1, .s8bxtxt2{
	margin:40px 0 0 38px;
	width:70%;
	background:#fff4c7;
	padding:12px 44px;
	border-radius:60px;
	position:relative;
	font-style:italic;
	font-weight:bold;
}
.s8bxtxt2{
	margin:40px 0 0 0;
	border-radius:30px;
	padding:15px 20px;
	width:57%;
}
.s8bxtxt2arw{position:absolute;left:40px;top:-20px;}
.s8img{float:right;margin:25px -15px 0 10px;max-width:100%;}
/*-------------------section9---------------------*/
.sec9{background:#e2f7ff;padding:40px 0 45px 0;}
.s9txtbx{
	background:#1b2b61;
	padding:25px 48px 32px 28px;
	margin:50px 0 0 0;
	border-radius:12px;
}
.s9txtbximg{float:left;margin:-67px 25px 0 15px;max-width:100%;}
.s9img{float:right;margin:26px -15px 0 20px;max-width:100%;}
/*-------------------section10---------------------*/
.sec10{padding:40px 0 45px 0;}
.s10img1{margin:24px auto -15px auto;display:block;max-width:100%;}
.lftline1, .rgtline1{margin:0 5px 0 0;max-width:100%;display:inline-block;}
.rgtline1{margin:0 0 0 5px;}
.lftline2, .rgtline2{margin:0;display:inline-block;max-width:100%;}
.s10img2{float:left;margin:25px 15px 0 -5px;max-width:100%;}
.s10img3{float:right;margin:20px -15px 0 15px;max-width:100%;}
.s10img4{float:left;margin:25px 35px 0 0;max-width:100%;}
/*-------------------section11---------------------*/
.sec11{padding:40px 0 45px 0;background:url(../images/sec11.jpg) center top no-repeat;}
.s11img{float:right;margin:20px -15px 0 20px;max-width:100%;}

@media only screen and (max-width: 1000px){
.s3txtbx {
    margin: 38px 0 0 0;
    padding: 20px 20px 24px 20px;
}	
.s3img1, .s6bximg1, .s6bximg3, .s6img1, .s7img, .s8img, .s9img, .s10img2, .s10img3, .s11img{width:350px;}
.s6img1 {margin: 20px 10px -20px -15px;}
	
.s3txtbximg {
    margin: 15px 0 0 10px;
    max-width: 100%;
}	
.s6bx {padding: 20px 20px;}
.s6bximg2, .s10img4{width:300px;}	
.s6bxtxt2 {margin: 40px 0 0 30px;}
.s6bxtxt3 {margin: 36px 0 0 100px;}
.s8bxtxt2{width:54%;}
.s9txtbx {
    padding: 25px 20px 32px 20px;
    margin: 40px 0 0 0;
}
.s9txtbximg {
    width:230px;
    margin: -47px 10px 0 0;
    max-width: 100%;
}
.lftline1, .rgtline1{width:170px;}
.lftline2, .rgtline2{width:60px;}
}
@media only screen and (max-width: 767px){
.sec3, .sec4, .sec7, .sec8, .sec9, .sec10, .sec11 {padding: 30px 0 35px 0;}
.sec11{background-size:cover;}
.sec5 {padding: 35px 0 152px 0;}
.sec6{padding:0 0 35px 0;}
.s3img1, .s3txtbximg, .s5img, .s6bximg1, .s6bximg2, .s6bximg3, .s6img1, .s7img, .s8img, .s9txtbximg, 
.s9img, .s10img2, .s10img3, .s10img4, .s11img{
	float:none;
	margin:12px auto -15px auto;
	display:block;
	max-width:100%;
}
.s3txtbximg{margin:25px auto 0 auto;}
.s5img{width:250px;margin:25px auto 0 auto;}
.s6bximg1{margin:25px auto -35px auto;}
.s7img, .s8img{margin:20px auto -15px auto;}
.s9txtbximg{margin:0 auto 17px auto;}
.s10img4{margin:35px auto 0 auto;}
	
.s3txtbx {
    margin: 34px 0 0 0;
    padding: 18px 13px 20px 13px;
}
.s4txtbx{width:100%;margin:36px 0 0 0;padding: 0 0 0 115px;}
.s4txtbx-inbx {padding: 14px 0;}
.s4txtbximg {width:110px;top: -5px;}
.lftqt, .rgtqt{background-size:24px;width:36px;height:20px;}
.lftqt{top:-10px;}
.rgtqt{bottom:-10px;}
.s6bx {margin: -152px 0 0 0;padding:20px 13px;}

.s6bxtxt2{width:auto;margin: 30px 30px 0 0;border-radius:30px;}
.s6bxtxt3{width:auto;margin: 36px 0 0 30px;border-radius:30px;padding: 12px 15px;}
.s8bxtxt1, .s8bxtxt2 {
    margin: 34px 0 0 0;
    width: auto;
    padding: 12px 15px;
	border-radius:30px;
}
.s9txtbx {
    padding: 20px 13px 25px 13px;
    margin: 34px 0 0 0;
}
.lftline1, .rgtline1, .lftline2, .rgtline2{display:none;}
.s10img1{margin:18px auto -10px auto;}
}
@media only screen and (max-width: 479px){
.s6bxtxt {
    width: auto;
    background: #f5e7ff;
    padding: 6px 15px 10px 15px;
    border-radius: 30px;
    position: relative;
	margin:34px 0 0 0;
}
.s6bxtxt span.span1 {background:none;padding:0;border-radius:none;position:inherit;}	
.s6bximg1 {margin: 12px auto -32px auto;}	
}
/*===================section12, 13, 14, 15, 16, 17, 18, 19=====================*/
.sec12{padding:40px 0 45px 0;background:#e2f7ff;}
.s12img1{margin:30px auto -10px auto;display:block;max-width:100%;}
.s12txtbx{
	background:#1b2b61;
	margin:40px 0 0 0;
	border-radius:12px;
	padding:24px 28px 25px 28px;
}
.s12txtbximg{float:right;margin:-10px 0 0 30px;max-width:100%;}
/*-----------------section13----------------*/
.sec13{background:#f9f9f9;padding:40px 0 45px 0;}
.s13bx1{
	background:#fff url(../images/s13bx1bg.jpg) left bottom no-repeat;
	border-radius:12px;
	padding:28px 34px 28px 340px;
	box-shadow:0 0 10px #dfdcdc;
	margin:40px 0 0 0;
	position:relative;
}
.s13bx-imgbx{width:310px;position:absolute;left:0;top:0;padding:20px;}
.s13bx-imgbx img{margin:36px auto 0 auto;display:block;max-width:100%;}
.s13bx2{
	background:#1b2b61;
	border-radius:12px;
	padding:24px 28px;
	margin:40px 0 0 0;
}
.s13img{float:right;margin:-10px -15px -40px 0;max-width:100%;}
/*-----------------section14----------------*/
.sec14{background:#e2f7ff;padding:40px 0 45px 0;}
.s14img1{float:right;margin:35px 0 0 30px;max-width:100%;}
.s14img2{float:left;margin:28px 20px 0 -15px;max-width:100%;}
/*-----------------section15----------------*/
.sec15{padding:40px 0 45px 0;background:#f9f9f9;}
.s15img{float:right;margin:28px -15px 0 24px;max-width:100%;}
.s15bx{
	background:#1b2b61;
	margin:40px 0 0 0;
	padding:24px 28px 24px 202px;
	border-radius:12px;
	position:relative;
}
.s15bximg{position:absolute;left:0;bottom:0;}
/*-----------------section16----------------*/
.sec16{background: linear-gradient(0deg, #000000, #1b2b61 70%) ;}
.s16innr{background:url(../images/sec16.jpg) center top no-repeat;padding:40px 0 152px 0;}
.s16innr p{text-align:left;color:#fff;}
.s16img1{float:left;margin:34px 20px 0 -15px;max-width:100%;}
.s16bx1{
	margin:40px 0 0 0;
	background:#1b2b61;
	padding:24px 28px;
	border-radius:12px;
	width:86%;
}
.s16bx1img{float:right;margin:-46px -125px 0 0;max-width:100%;}
/*------------------section17-------------------*/
.sec17{background:#f9f9f9;padding:0 0 45px 0;}
.s17bx{
	background:#1b2b61 url(../images/s17bxbg.jpg) left bottom no-repeat;
	border-radius:12px;
	padding:28px 34px 28px 302px;
	margin:-105px 0 0 0;
	position:relative;
}
/*.s17bximg{float:left;margin:-13px 20px 0 -10px;max-width:100%;}*/
.s17txt{margin:48px 0 0 114px;}
.s17img{float:right;margin:32px -15px 0 15px;max-width:100%;}
/*------------------section18-------------------*/
.sec18{background:#e2f7ff url(../images/sec18.jpg) center top no-repeat;padding:40px 0 45px 0;}
ul.s18list{padding:35px 0 0 0;margin:0 0 0 317px;display:table;}
ul.s18list li{
	background:#fff url(../images/bullet.png) 30px 25px no-repeat;
	padding:18px 45px 18px 86px;
	border-radius:14px;
	box-shadow:0 0 10px #c5dee8;
	margin:12px 0 0 0;
}
.s18bx{
	margin:40px 0 0 0;
	background:#1b2b61 url(../images/s18bxbg.png) left center no-repeat;
	padding:28px 28px 28px 206px;
	border-radius:12px;
}
.s18bx p{font-weight:bold;color:#fff;}
/*------------------section19-------------------*/
.sec19{padding:40px 0 246px 0;background:#f9f9f9;}
ul.s19list{padding:20px 0 0 0;}
ul.s19list li{
	background:#fff;
	border-radius:12px;
	padding:25px 28px 25px 200px;
	box-shadow:0 0 10px #e3e3e3;
	margin:23px 0 0 0;
	position:relative;
}
.s19limg{position:absolute;left:28px;top:24px;}
.s19ltxt{padding:15px 0;}
.s19img{float:right;margin:25px -15px 0 15px;max-width:100%;}
@media only screen and (max-width: 1000px){
.s12txtbx {padding: 24px 20px 25px 20px;}
.s13bx1 {padding: 22px 20px 22px 330px;}
.s13bx2 {padding: 22px 20px 26px 20px;}
.s14img2, .s15img, .s16img1, .s17img, .s19img, .s13img{width:350px;}
.s13img{margin:20px -15px 0 0;}
.s14img1{width:180px;margin: 38px 0 0 30px;}
.s16bx1 {padding: 20px 20px;}
.s16bx1img{width:260px;}	
.s17txt {margin: 40px 0 0 94px;}
.s17bx {padding: 22px 20px 22px 262px;}
/*.s17bximg {margin: -23px 20px 0 -10px;}*/
.sec18{background:#e2f7ff url(../images/sec18.jpg) 45% top no-repeat scroll;}
ul.s18list {margin: 0 0 0 300px;}
ul.s18list li {
    background: #fff url(../images/bullet.png) 16px 25px no-repeat;
    padding: 18px 20px 18px 66px;    
}

.s19limg{top:18px;}
.s19ltxt {padding: 0 0;}
}
@media only screen and (max-width: 767px){
.sec12, .sec13, .sec14, .sec15, .sec18 {padding: 30px 0 35px 0;}	
.s12img1 {margin: 22px auto -10px auto;}
.s12txtbx {
    padding: 18px 13px 20px 13px;
	margin:34px 0 0 0;
}	
.s12txtbximg{float:none;margin:20px auto 0 auto;display:block;max-width:100%;}
.s13bx1 {padding: 22px 13px 25px 13px;background:#fff;margin:34px 0 0 0;}
.s13bx-imgbx{
	position:inherit;
	left:auto;
	top:auto;
	margin:0 auto 18px auto;
	display:block;
	width:220px;
	border-radius:12px;
	background:url(../images/s13bx1bg.jpg) center bottom no-repeat;
}
.s13bx-imgbx img{margin:0 auto;max-width:140px;}
.s13bx2 {
    padding: 20px 13px 24px 13px;
	margin:35px 0 0 0;
}
.s13bx2 p{text-align:center;}
.s14img1, .s14img2, .s15img, .s16img1, .s16bx1img, .s17bximg, .s17img, .s19img, .s13img{
	float:none;
	margin:16px auto -14px auto;
	display:block;
	max-width:100%;
}
.s14img1, .s16bx1img, .s17bximg{margin:26px auto -5px auto;}
.s16innr{padding:30px 0 152px 0;}
.s15bx {
    margin: 34px 0 0 0;
    padding: 20px 13px 20px 202px;
}
.s16innr{padding:30px 0 92px 0;background:url(../images/sec16.jpg) 60% top no-repeat;}
.s16bx1 {padding: 20px 13px;margin:34px 0 0 0;width:100%;}
.s16bx1img{width:260px;}
.sec17{padding:0 0 35px 0;}
.s17bx {padding: 18px 13px 25px 13px;margin: -60px 0 0 0; background:#1b2b61;}

.s17txt {margin: 40px 0 0 0;}
.sec18{background:#e2f7ff url(../images/sec18.jpg) center -140px no-repeat;}
ul.s18list{padding:20px 0 0 0;margin:0;}
ul.s18list li {
    background: #fff url(../images/bullet.png) 13px 20px no-repeat;
	background-size:22px;
    padding: 12px 13px 12px 46px;
}
.s18bx {
    margin: 34px 0 0 0;
    background: #1b2b61 url(../images/s18bxbg.png) -20px center no-repeat;
    padding: 22px 13px 22px 170px;
}
.sec19{padding:30px 0 156px;}
ul.s19list {padding: 10px 0 0 0;}
ul.s19list li {
    padding: 20px 13px 20px 128px;
    margin: 20px 0 0 0;
}
.s19limg {
    width:100px;
    left: 13px;
    top: 20px;
}
	
}
@media only screen and (max-width: 479px){
.s15bx {
    margin: 34px 0 0 0;
    padding: 16px 13px 180px 13px;
}
.s15bximg {width:150px;}	
.s18bx {
    background: #1b2b61 url(../images/s18bxbg.png) -10px center no-repeat;
	background-size:190px;
    padding: 18px 10px 20px 100px;
}	
.sec19{padding:30px 0 126px;}
ul.s19list li {padding: 20px 13px 20px 92px;}
.s19limg {width:70px;left: 8px;}	
}
@media only screen and (max-width: 359px){
ul.s19list li {padding: 20px 13px 20px 72px;}
.s19limg {width:50px;}	
	
}
/*===================section20, 21, 22, 23, 24, 25=====================*/
.sec20{background:#1b2b61 url(../images/sec20.jpg) center top no-repeat;padding:0;color:#fff;}
.s20img{margin:-204px auto 0 auto;display:block;max-width:100%;}
.s20txt{text-align:center;font-weight:bold;margin-top:0;}
.s20img2{float:right;margin:60px 10px 0 100px;max-width:100%;}
.s20btm{background:#1b2b61 url(../images/s20btm.jpg) center top no-repeat;padding:35px 0 45px 0;}
/*------------------section21-------------------*/
.sec21{padding:40px 0 45px 0;background:#f9f9f9;}
.s21img{float:left;margin:28px 20px 0 -15px;max-width:100%;}
/*------------------section22-------------------*/
.sec22{background:#ddf4ff url(../images/sec22.jpg) center top no-repeat;padding:40px 0 45px 0;}
ul.s22list{width:650px;margin:0 auto;}
/*------------------section23-------------------*/
.sec23{background:url(../images/sec23.jpg) center top no-repeat;padding:40px 0 175px 0;color:#fff;}
/*------------------section24-------------------*/
.sec24{padding:0 0 45px 0;background:#f9f9f9;}
ul.s24list{margin:-146px 0 0 0;}
ul.s24list li{
	background:#ffffea;
	padding:25px 25px;
	margin:13px 0 0 0;
	box-shadow: 0 5px 5px #CCCCCC;
	border-radius:5px;
	width:100%;
	display:table;
}
.s24lbx{position:relative;padding:0 0 0 80px;}
.s24lbx2{width:78%;float:right;position:relative;padding:0 0 0 80px;}
.s24lnum{
	position:absolute;
	left:0;
	top:5px;
	height:56px;
	width:56px;
	background:#fff;
	border:3px solid #cae8f3;
	border-radius:50%;
	font-weight:bold;
	font-size:24px;
	line-height:46px;
	color:#1b2b61;
	text-align:center;
	text-transform:uppercase;
}
.s24lbx-img1{float:right;margin:0 0 0 30px;max-width:100%;}
.s24lbx-img2{float:left;margin:0 0 0 0;max-width:100%;display:inline-block;}
/*------------------section25-------------------*/
.sec25{background:#e2f7ff url(../images/sec25.jpg) center top no-repeat;padding:40px 0 45px 0;}
.s25bx{
	margin:40px 0 0 0;
	background:#fff;
	border-radius:12px;
	box-shadow:0 0 10px #cae2ec;
	padding:28px;
	position:relative;
}
.s25bxtxt{
	margin-top:22px;
	color:#3a3a3a;
}
.s25bxtxt span{font-weight:bold;color:#000;}
.s25bx-lftqt, .s25bx-rgtqt{position:absolute;}
.s25bx-lftqt{left:30px;top:-16px;}
.s25bx-rgtqt{right:30px;bottom:-11px;}
.s25bximg1{float:right;margin:10px 0 0 20px;max-width:100%;}
@media only screen and (max-width: 1000px){
.s20img2{margin:30px 0 0 0;}	
.s21img{width:350px;}	
.s24lbx2 {width: 72%;}
}
@media only screen and (max-width: 767px){
.sec20{padding:0 0 0 0;background-size:100%;}	
.s20txt{margin-top:10px;}
.s20img{margin:-120px auto 0 auto;width:450px;}	
.s20btm{background:#1b2b61 url(../images/s20btm-mob.jpg) center bottom no-repeat;padding:30px 0 35px 0;}
.s20img2, .s21img{
	float:none;
	display:block;
	margin:28px auto -18px auto;
	max-width:100%;
}
.s20img2{width:200px;}
.s21img{margin:15px auto -15px auto;}
.sec21, .sec22 {padding: 30px 0 35px 0;}	
ul.s22list{margin:0 auto;width:100%;}
.sec23 {
    background-size:cover;
    padding: 30px 0 170px 0;
}
ul.s24list li {padding: 18px 13px 18px 13px;}
.s24lnum{
	left:10px;
	top:18px;
	height:42px;
	width:42px;
	font-size:18px;
	line-height:32px;
}
.s24lbx-img1, .s24lbx-img2{
	float:none;
	margin:0 auto 10px auto;
	display:block;
}
.s24lbx, .s24lbx2{padding:0 0 0 0;width:100%;}
.s24lnum{/*top:5px;left:0;*/position:inherit;left:auto;top:auto;margin:-40px auto 0 auto;display:block;}
.s24lbx p, .s24lbx2 p{text-align:center;padding-top:10px;}

.sec25 {padding: 30px 0 35px 0;}
.s25bx {
    margin: 34px 0 0 0;
    padding: 20px 13px;
}
.s25bx-lftqt, .s25bx-rgtqt{width:26px;}
.s25bx-lftqt{left:15px;top:-10px;}
.s25bx-rgtqt{right:15px;bottom:-8px;}
/*.s25bximg1{width:100px;margin:10px 0 0 10px;}*/
.s25bximgbx-mob{
	height:188px;
	position:relative;
	padding:0 0 0 190px;
}
/*.s25bximgbx-mob-img1,*/ .s25bximg1-mob{position:absolute;left:0;top:0;}
.s25bxtxt, .s25bxtxt2 {
    margin-top: 0;
	padding-top:38px;
}
.s25bxtxt2{padding-top:20px;}
}
@media only screen and (max-width: 479px){
.s20img{margin:-95px auto 0 auto;width:450px;}
.s25bxtxt2{padding-top:14px;}
}
@media only screen and (max-width: 389px){
.s25bximg1{width:80px;}
.s25bximgbx-mob{
	height:140px;
	padding:0 0 0 130px;
}
.s25bximgbx-mob2{height:154px;}
.s25bximg1-mob{width:126px;}
.s25bxtxt {padding-top: 14px;}
.s25bxtxt2{padding-top:0;padding-bottom:20px;}


}
@media only screen and (max-width: 359px){
.s25bximgbx-mob2{height:180px;}
}
/*===================section26 , 27, 28, 29, 30=====================*/
.sec26{background:#f9f9f9;padding:40px 0 45px 0;}
.s26img1{float:right;margin:25px -15px 0 20px;max-width:100%;}
.s26img2{float:left;margin:25px 20px 0 -15px;max-width:100%;}
.s26bx{
	margin:40px 0 0 0;
	border:2px solid #ff0000;
	border-radius:14px;
	padding:25px 28px 28px 28px;
}
.s26bximg{float:right;margin:-90px -15px 0 0;max-width:100%;}
/*------------------section27-------------------*/
.sec27{background:#e2f7ff;padding:40px 0 220px 0;}
.s27bx{
	background:#1b2b61;
	margin:40px 0 0 0;
	padding:28px;
	border-radius:14px;
}
.s27img{float:right;margin:30px -15px 0 20px;max-width:100%;}
/*------------------section28-------------------*/
.sec28{padding:0 0 45px 0;background:#f9f9f9;}
.s28bx{
	background:#fff;
	padding:28px;
	margin:-175px 0 0 0;
	border-radius:14px;
	box-shadow:0 0 10px #d8d8d8;
}
.s28bximg1{float:left;margin:25px 20px 0 -15px;max-width:100%;}
.s28bx-inbx1{
	background:#1b2b61;
	margin:40px 0 0 0;
	padding:30px 28px 34px 28px;
	border-radius:14px;
}
.s28bx-inbx1-imgbx{
	float:right;
	margin:-70px -40px 0 0;
}
.s28bx-inbx1-imgbx img{margin:0 auto;display:block;max-width:100%;}
ul.s28imgbx-list{
	background:#324689;
	width:80%;
	padding:5px 10px;
	border-radius:40px;
	margin:10px auto 0 auto;
	display:table;
	text-align:center;
}
ul.s28imgbx-list li{
	display:inline-block;
	padding:0 10px;
	font-size:22px;
	line-height:32px;
	color:#fff;
	text-align:center;
}
ul.s28imgbx-list li span{padding:0 5px;}
/*------------------section29-------------------*/
.sec29{
	background:#1b2b61 url(../images/sec29.jpg) center bottom no-repeat;
	padding:40px 0 492px 0;
	color:#fff;
}
.s29txt{
	 background: -moz-linear-gradient(left, rgba(17, 84, 159, 0) 0%, rgba(17, 84, 159, 1) 49%, rgba(17, 84, 159, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(17, 84, 159, 0)), color-stop(49%, rgba(17, 84, 159, 1)), color-stop(100%, rgba(17, 84, 159, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(17, 84, 159, 0) 0%, rgba(17, 84, 159, 1) 49%, rgba(17, 84, 159, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(17, 84, 159, 0) 0%, rgba(17, 84, 159, 1) 49%, rgba(17, 84, 159, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(17, 84, 159, 0) 0%, rgba(17, 84, 159, 1) 49%, rgba(17, 84, 159, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(17, 84, 159, 0) 0%, rgba(17, 84, 159, 1) 49%, rgba(17, 84, 159, 0) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
	padding:5px 0 12px 0;
	margin:25px 0 0 0;
	text-align:center;
	font-weight:bold;
}
/*------------------section30-------------------*/
.sec30{background:#f9f9f9;padding:0 0 45px 0;}
.s30bx{
	background:#fffeec;
	margin:-455px 0 0 0;
	border-radius:14px;
	border:2px solid #e7e4b1;
	box-shadow:0 0 10px #e6e6e6;
}
.s30bxhd{
	background:#ffebc3;
	border-radius:12px 12px 0 0;
	padding:10px 20px 0 20px;
}
.s30bxarw{margin:0 auto;display:block;max-width:100%;}
.s30bxbtm{padding:0 30px 30px 30px;}
.s30bximg{margin:0 auto;display:block;max-width:100%;}
ul.s30bxlist{padding:15px 0 0 0;width:80%;margin:0 auto;display:table;}
ul.s30bxlist li{
	float:left;
	display:inline-block;
	width:33.33%;
	background:#5590d8;
	padding:10px 20px 10px 88px;
	position:relative;
}
ul.s30bxlist li:first-child{
	background:#8d5cc7;
	border-radius:14px 0 0 14px;
}
ul.s30bxlist li:last-child{
	background:#26afbd;
	border-radius:0 14px 14px 0;
}
ul.s30bxlist li p{
	font-weight:bold;
	font-size:24px;
	line-height:30px;
	color:#fff;
	text-align:left;
}
ul.s30bxlist li img{
	position:absolute;
	left:20px;
	top:10px;
}
ul.s30bxlist li:nth-child(2) img{left:27px;}
.reg-prc{
	margin:30px 0 0 0;
	font-size:22px;
	line-height:32px;
	color:#373737;
	text-align:center;
}
.reg-prc span{padding:0 5px;margin:0 2px;}
.s30bx-prcbx{margin:20px auto 0 auto;width:334px;display:block;position:relative;}
.s30bxtxt{
	font-weight:bold;
	font-size:24px;
	line-height:34px;
	text-align:center;
}
.s30bxprc{
	font-weight:bold;
	font-size:71px;
	line-height:71px;
	color:#1b2b61;
	text-align:center;
	margin-top:4px;
}
.s30bx-lftarw, .s30bx-rgtarw{position:absolute;top:18px;}
.s30bx-lftarw{left:0;}
.s30bx-rgtarw{right:0;}
.s30btn{margin:15px auto 0 auto;display:block;max-width:100%;}
.s30bx2{
	margin:40px 0 0 0;
	background:#1b2b61;
	border-radius:14px;
	padding:28px;
}
.s30bx2img{float:right;margin:-40px 0 0 30px;max-width:100%;}
.giftbx{
	margin:40px 0 0 0;
	border:2px solid #1b2b61;
	border-radius:14px;
	width:100%;
	display:table;
}
.giftbxhd{
	background:#1b2b61;
	padding:12px 24px 18px 24px;
	border-radius:12px 12px 0 0;
}
.giftbxhd p{
	font-weight:bold;
	font-size:34px;
	line-height:44px;
	color:#fff;
	text-align:left;
}
.giftbxhd p span{color:#fff000;}
.giftbxbtm{padding:25px 24px;}
.giftbx-img1, .giftbx-img2, .giftbx-img4{float:right;margin:5px 0 0 0;max-width:100%;}
.giftbx-img2{margin:15px 0 0 0;}
.giftbx-img4{margin:-5px 0 20px 0;}
.giftbx-img3{float:right;margin:0 0 0 30px;max-width:100%;}
@media only screen and (max-width: 1000px){
.s26img2, .s26img1, .s27img, .s28bximg1{width:350px;}	
.s26bx {padding: 25px 20px 28px 20px;}
.s26bximg {width:220px;margin: -76px -15px 0 0;}
.s27bx {padding: 20px 20px;}
.s28bx {padding: 22px 20px 24px 20px;}
.s28bx-inbx1 {padding: 25px 20px 26px 20px;}
.s28bx-inbx1-imgbx{width:400px;}
ul.s28imgbx-list {width: 86%;}
ul.s30bxlist{width:100%;}
ul.s30bxlist li p {
    font-size: 22px;
    line-height: 28px;
}
.s30bx2 {padding: 20px 20px 24px 20px;}
.s30bx2img {margin: -30px 0 0 30px;}
.giftbxhd {padding: 12px 20px 18px 20px;}
.giftbxhd p {
    font-size: 28px;
    line-height: 38px;
}
.giftbxbtm {padding: 22px 20px 25px 20px;}
.giftbx-img1, .giftbx-img2, .giftbx-img4{margin:5px 0 0 -50px;width:340px;}
.giftbx-img4{margin:-7px 0 0 -30px;}
.giftbx-img3 {
    margin: 0 0 0 10px;
    width:350px;
}
}
@media only screen and (max-width: 767px){
.sec26 {padding: 30px 0 35px 0;}	
.s26img2, .s26img1, .s26bximg, .s27img, .s28bximg1, .s28bx-inbx1-imgbx{
	float:none;
	margin:14px auto -15px auto;
	max-width:100%;
	display:block;
}
.s26bximg{margin:20px auto 0 auto;}
.s28bx-inbx1-imgbx{
	width:100%;
	margin:30px auto 0 auto;
}

.s26bx {padding: 20px 13px 22px 13px;margin:34px 0 0 0;}
.sec27 {padding: 30px 0 220px 0;}
.s27bx {padding: 18px 13px 20px 13px;margin:30px 0 0 0;}
.s28bx {
    padding: 20px 13px;
    margin: -184px 0 0 0;
}
.s28bx-inbx1 {padding: 20px 13px 20px 13px;margin:30px 0 0 0;}
ul.s28imgbx-list{width:100%;}
.sec29{padding:30px 0 492px 0;}
.s30bxbtm {padding: 0 15px 20px 15px;}
ul.s30bxlist li {padding: 10px 10px 10px 48px;}
ul.s30bxlist li img{height:35px;left:10px;top:15px;}
ul.s30bxlist li:nth-child(2) img{left:14px;top:15px;}
ul.s30bxlist li p {
    font-size: 15px;
    line-height: 21px;
}
.reg-prc {
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 30px;
}
.reg-prc span{padding:0 2px;}
.s30bx2 {
    padding: 20px 12px 24px 12px;
	margin:34px 0 0 0;
}
.s30bx2img{float:none;margin:0 auto 15px auto;display:block;width:130px;}
.s30bx2 p{text-align:center;}
.giftbx{margin:34px 0 0 0;}
.giftbxhd {padding: 12px 12px 18px 12px;}
.giftbxhd p {
    font-size: 25px;
    line-height: 35px;
}
.giftbxbtm {padding: 20px 12px 25px 12px;}
.giftbx-img1, .giftbx-img2, .giftbx-img4, .giftbx-img3{
	float:none;
	margin:0 auto 15px auto;
	display:block;
	max-width:100%;
}
.giftbx-img3{margin:0 auto;}
}
@media only screen and (max-width: 479px){
ul.s28imgbx-list li {
    font-size: 17px;
    line-height: 27px;
	padding:0 5px;
}
.s30bxhd {padding: 6px 10px 5px 10px;}
ul.s30bxlist li {padding: 7px 10px 10px 10px;}	
ul.s30bxlist li img, ul.s30bxlist li:nth-child(2) img{display:none;}
ul.s30bxlist li p{text-align:center;}	
.reg-prc {font-size: 16px;line-height: 26px;}
.s30bx-prcbx{width:260px;}
.s30bxtxt {font-size: 20px;line-height: 28px;}
.s30bxprc {
    font-size: 54px;
    line-height: 54px;
}
.s30bx-lftarw, .s30bx-rgtarw{width:64px;}
.giftbxhd p {
    font-size: 24px;
    line-height: 34px;
}
}
@media only screen and (max-width: 389px){
.s30bxbtm {padding: 0 10px 20px 10px;}
ul.s30bxlist li {padding: 7px 5px 10px 5px;}
.reg-prc span {padding: 0 0;margin: 0 0;}
.giftbxhd p {
    font-size: 22px;
    line-height: 32px;
}
}
/*===================section31, 32, 33, 34, 35=====================*/
.sec31{padding:40px 0 45px 0;background:#e2f7ff;}
.s31mbbx {
    border: 34px solid transparent;
    border-image-source: url(../images/mbbg.jpg);
    border-image-repeat: repeat;
    border-image-slice: 46;
    padding: 0;
    box-sizing: border-box;
    margin: 114px auto 0 auto;
    display: block;
    position: relative;
}
.s31mbbx-in {
    background: #fff;
    padding: 0 50px 20px 50px;
}
.mbseal{
	margin:-120px auto 15px auto;
	display:block;
}
.s31mbbx-in p{text-align:center;}
/*------------------section32-------------------*/
.sec32{background:#f9f9f9;padding:0 0 45px 0;}
.s32img1{float:right;margin:10px 0 0 20px;max-width:100%;}
.s32hd1{
	border:2px solid #e10818;
	margin:40px 0 0 0;
	padding:15px 28px 24px 28px;
	border-radius:14px;
	position:relative;
}
.s32hd2{border:2px solid #09a83d;}
.s32hd1 p{text-align:left;}
.s32hd1 img{position:absolute;left:28px;bottom:-14px;}
.s32img2{float:right;margin:0 0 0 20px;max-width:100%;}
.s32img3{float:right;margin:40px 0 20px 20px;max-width:100%;}
/*------------------section33------------------*/
.sec33{background:#e2f7ff;padding:40px 0 45px 0;}
.s33img1{float:left;margin:30px 20px 0 -15px;max-width:100%;}
.s33img2{float:right;margin:24px -15px 0 30px;max-width:100%;}
.s33img3{float:left;margin:28px 20px 0 -15px;max-width:100%;}
/*------------------section34------------------*/
.sec34{padding:40px 0 45px 0;background:#f9f9f9;}
.s34img{float:right;margin:-50px -190px 0 -110px;max-width:100%;}
/*------------------section35------------------*/
.sec35{background:#f9f9f9;padding:0 0 35px 0;}
.qbx1, .qbx2, .qbx3{
	padding:24px 16px 24px 132px;
	position:relative;
	background:#e2f7ff;
}
.qbx1{margin:30px 0 0 0;}
.qbx2{background:#f9f9f9;}
.qno{
	position:absolute;
	left:35px;
	top:18px;
	font-weight:bold;
	font-size:44px;
	line-height:54px;
	color:#1b2b61;
	text-align:left;
	text-transform:uppercase;
}
a.readmore{font-weight:normal;color:#F00;text-decoration:underline;}
.s35bx{margin:40px 0 0 0;}
ul.s35bxlist{width:100%;}

.ref-hding{	
	text-align:left;
	font-size:26px;
	line-height:32px;
	font-weight:bold;
	color:#303030;
	margin:25px 0 0 0;
}
ul.ref-list{padding:10px 0 0 0;}
ul.ref-list li{
	font-size:16px;
	line-height:22px;
	text-align:left;
	color:#303030;
	margin:10px 0 0 0;
	overflow-wrap: break-word;
    word-wrap: break-word;
	padding:0 0 0 31px;
	position:relative;	
}
.refnum{
	font-size:16px;
	line-height:22px;
	text-align:left;
	color:#303030;
	width:26px;	
	position:absolute;
	left:0;
	top:0;
}
@media only screen and (max-width: 1000px){
.s32hd1 {padding: 15px 20px 24px 20px;}	
.s32img3{width:350px;}	
.s33img1, .s33img2, .s33img3{width:340px;}	
.qbx1, .qbx2, .qbx3{padding:24px 16px 24px 16px;}
.qno {
    left: 18px;
    top: 20px;   
    font-size: 34px;
    line-height: 44px;
}
.s35bxbtm {padding: 0 15px 30px 15px;}	
.qbx-hd{
	position:relative;
	padding:0 0 0 78px;
}
.qno{left:0;top:-4px;}
}
@media only screen and (max-width: 767px){
.sec31, .sec33, .sec34 {padding: 30px 0 35px 0;}
.s31mbbx {margin: 78px auto 0 auto;}
.s31mbbx-in {padding: 0 0 14px 0;}
.mbseal {
    margin: -80px auto 15px auto;
	width:120px;
}	
.sec32 {padding: 0 0 35px 0;}
.s32img1, .s32img2, .s32img3{float:none;margin:32px auto 0 auto;display:block;max-width:100%;}
.s32img2, .s32img3{margin:25px auto -20px auto;}	
.s32hd1 {margin: 34px 0 0 0;padding: 15px 12px 24px 12px;}	
.s32hd1 img{left:12px;}	
.s33img1, .s33img2, .s33img3, .s34img{
	float:none;
	margin:12px auto -15px auto;
	max-width:100%;
	display:block;
}
.s33img3{margin:12px auto 0 auto;}
.s34img{margin:-35px auto -30px auto;}
.sec35{padding:0 0 20px 0;}
.qbx1, .qbx2, .qbx3{padding:20px 12px 20px 12px;}
.qbx-hd{padding:0 0 0 60px;}
.qno {
    font-size: 26px;
    line-height: 36px;
	top:0;
}
ul.s35bxlist li {
    padding: 10px 5px 10px 48px;
}	
.ref-hding{	font-size:22px;line-height:28px;}
ul.ref-list li{
	font-size:14px;
	line-height:20px;
	padding:0 0 0 26px;
}
.refnum{
	font-size:14px;
	line-height:20px;
}
}
@media only screen and (max-width: 479px){
.qbx-hd{padding:0 0 0 55px;}	
.qno { 
    font-size: 24px;
    line-height: 34px;
	
}
ul.s35bxlist li {padding: 10px 5px 10px 5px;}	
.s35bx-prcbx {width: 220px;}
}
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*=================start footer==================*/
footer{background:#f9f9f9;padding:40px 0;border-top:1px solid #dadada;}
ul.ftrlist{padding:0;text-align:center;}
ul.ftrlist li{
	display:inline-block;
	padding:0 15px;
	font-size:20px;
	line-height:20px;
	color:#333333;
	text-align:center;
	position:relative;
}
ul.ftrlist li a{color:#333;}
ul.ftrlist li:after{
	content:"";
	position:absolute;
	right:0;
	top:5px;
	height:15px;
	background:#333;
	width:1px;
}
ul.ftrlist li:last-child:after{display:none;}
.ftrtxt{
	font-size:20px;
	line-height:30px;
	color:#333;
	text-align:center;
	margin-top:10px;
}

@media only screen and (max-width: 767px){
footer{padding:30px 0;}
ul.ftrlist li{
	padding:0 10px;
	font-size:14px;
	line-height:14px;
}
ul.ftrlist li:after{height:12px;}
.ftrtxt{
	font-size:14px;
	line-height:24px;
	margin-top:4px;
}
}
/*==================start VSL page===================*/
.vsl-topbar{
	background:#272727;
	padding:5px 0;
}
.click-bank{margin:0 auto;display:block;max-width:100%;}

.vsl-sec1{background:#d0f1fe url(../images/vsl-sec1.jpg) center top no-repeat;padding:12px 0 30px 0;}
.vsls1txt{text-align:center;}
.vslvideo{margin:20px auto 0 auto;display:block;max-width:100%;}

.vsl-sec2{padding:20px 0 46px 0;background:#f9f9f9;}
.vsls2lft, .vsls2rgt {
    float: left;
    display: inline-block;
    width: 48%;
    margin: 20px 0 0 0;
}
.vsls2rgt{float:right;}
ul.ref-list{padding:0;}
ul.ref-list li {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #999999;
    margin: 12px 0 0 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 0 0 0 34px;
    position: relative;
}
.refnum {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #999;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
@media only screen and (max-width: 767px){
.vsl-sec2 {padding: 5px 0 36px 0;}
.vsls2lft, .vsls2rgt{width:100%;}
.vsls2rgt{margin:0;}
ul.ref-list li {
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 0 30px;
}
.refnum {
    font-size: 12px;
    line-height: 18px;
    width: 20px;
}
}





